.hero-section {

    
    .Slides {
        color: #0c0c0c; 
        display: flex;
        flex-direction: column;
        .slide {
            padding-block: 25px;
            display: grid; 
            grid-template-columns: 2.4fr 3fr;
            grid-row: 1;
            
            .slide-content {
                opacity: 0;
                transform: translateY(-100%);
            }
            
            .slide-content.active {
                    opacity: 1;
                    transform: translateY(0);
                    transition: transform 1s ease, opacity 0.5s ease;
            }
            
            .content {
                h1 {
                    font-family: "Source Serif 4";
                    margin-bottom: 24px;
                }
                p {
                    font-family: "Mada";
                    font-weight: 500;
                    font-size: 20px;
                    margin-bottom: 35px;

                }
                .cta-btn {
                    padding: 20px 18px;
                    background-color: $accent-color;
                    color: #fff;
                    font-size: 18px;
                    font-weight: 700;
                }    
            }
            .content-stati {
                display: flex;
                flex-direction: row;
                padding: 35px 30px;
                justify-content: space-between;
                background-color: #ececec;
                margin-top: 18px;
                h3 {
                    font-family: "Mada";
                }
                span {
                        font-family: "Mada";
                        font-size: 20px;
                        display: block;
                }
            }
        }

            .slide-image {
                display: flex;
                justify-content: end;
                align-items: center;
                padding: 44px;
                width: 50%;
                height: 100vh;
                position: absolute;
                top: -100vh;
                right: 0;
                transition: opacity 0.5s ease, transform 0.5s ease;
                opacity: 0;
                transform: translateY(-100%);
                .numbers {
                    .n01,.n02,.n03 {
                        width: 50px;
                        height: 50px;
                        margin-bottom: 20px;
                        margin-right: 80px;
                        background-color: $accent-color;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: #fff;
                        :hover {
                            cursor:pointer;  
                        }
                    }
                }
            }
            .slide-image.active {
                position: absolute;
                top: 0;
                right: 0;
                transform: translateY(0);
                opacity:1;

            }
            
            .i01 {
                background-image: 
                    linear-gradient(rgba(231, 231, 231, 0.15), rgba(231, 231, 231, 0.15)),
                    url("../../IMGS/pexels-lukas-rodriguez-1845331-3573351.jpg");
                background-size: cover;
            }
        .i02{
                background-image: 
                    linear-gradient(rgba(231, 231, 231, 0.15), rgba(231, 231, 231, 0.15)),
                    url("../../IMGS/pexels-jplenio-2566845.jpg");
                background-size: cover;
        }
        .i03 {
                background-image: 
                    linear-gradient(rgba(231, 231, 231, 0.2), rgba(231, 231, 231, 0.2)),
                    url("../../IMGS/pexels-tomfisk-3815299.jpg");
                background-size: cover;   
        }

        }

    }
