header {
    padding: 30px 0;


    @include respond-to('medium') {
        position: relative;
    }

    .nav-links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-width: 100%;
        margin-right: 12px;
        z-index: 1000;
        font-weight: 500;

        .menu-lines {
            background-color: #fff;
            padding: 20px;
            position: relative;
            cursor: pointer;
            display: none;

            @include respond-to('medium') {
                display: block;
            }

            .menu-line {
                position: absolute;
                width: 20px;
                height: 2px;
                background-color: $color-primary;
            }
        }

        nav {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 45px;

            .nav-link {
                font-weight: 500;
                font-size: 16px;
                padding: 8px 16px;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                color: $color-background-dark;


                >span:first-of-type {
                    width: 100%;
                    height: 100%;
                    z-index: 2000;
                }

                >span:last-of-type {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    transform: translate(50%, 50%);
                    background-color: $color-primary;
                    transform: scale(0);
                    z-index: 1000;
                }

                &.active {

                    >span:first-of-type {
                        color: $color-background-light;
                    }

                    >span:last-of-type {
                        transform: scale(1);
                    }
                }
            }

            @include respond-to('medium') {
                position: absolute;
                top: 6rem;
                width: 100%;
                flex-direction: column;
                gap: 25px;
                background-color: #fff;
                z-index: 3000;

                .nav-link {
                    color: $color-dark;
                    text-align: start;
                    padding-inline: 20px;
                    width: 100%;
                }
            }
        }


        @include respond-to('medium') {
            align-content: center;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            &.open {
                display: flex;
            }

            .nav-link {
                font-size: 25px;
            }
        }
    }

    &.dark {
        .nav-link {
            color: $color-dark !important
        }
    }
}