
header {
    padding: 42px 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
        margin-right: 42px;
        font-size: 18px;
        font-weight: 600;
        display: flex;
        align-items: center;
    }
    .nav-links {
        padding: 32px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #FAFAFA;
        width: 100%;
        margin-right: 12px;
        z-index: 1000;
    }
    .search {
        height: inherit;
        background-color: #d9d9d980;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        border: 1px solid #fff;
        padding-right: 12px;
        z-index: 1000;

        input {
            padding: 32px 0 32px 12px;
            border: none;
            background-color: transparent;
        }
        input::placeholder {
                font-size: 18px;
                font-weight: 500;
                color: #303030;
                font-family: "Mada";
            
        }
        input:focus {
            border: none;
            outline: none;
            background-color: #FAFAFA;
            color: #303030;
            :placeholder {
                display: none;
            }

        }
    }
    nav {
        display: flex;
        flex-direction: row;
        align-content: center;
    }
}

