.btn-cta {
    color: $color-background-light;
    background-color: $color-accent;
    font-weight: 600;
    font-size: 20px;
    border: 2px solid $color-accent;
    padding: 8px 24px;
    position: relative;
    cursor: pointer;

    >:first-child {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $color-background;
        z-index: 1000;
    }

    >:nth-child(2) {
        position: sticky;
        z-index: 3000;
    }
}

.btn-shadow {
    color: $color-accent;
    font-weight: 600;
    border: 2px solid $color-accent;
    padding: 8px 24px;
    cursor: pointer;

    &.white {
        border-color: $color-background;
        color: $color-background;
    }

    >span:first-of-type {
        position: sticky;
        z-index: 2000;
    }
}

.btn-primary {
    color: $color-background;
    background-color: $color-primary;
    font-weight: 600;
    font-size: 20px;
    border: 2px solid $color-primary;
    padding: 8px 24px;
    position: relative;
    cursor: pointer;

    >:first-child {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $color-background;
        z-index: 1000;
    }

    >:nth-child(2) {
        position: sticky;
        z-index: 3000;
    }
}

.relative {
    position: relative;
}


.container {
    max-width: 1200px;
    width: 80%;

    @include respond-to("medium") {
        width: 95%;
    }
}

.center-h {
    display: flex;
    align-items: center;
    flex-direction: column;


}

.center-v {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.animated-text {
    position: relative;
    width: fit-content;

    .animated-bar {
        content: "";
        position: absolute;
        top: 0%;
        right: 0;
        height: 45px;
        width: 2px;
        background-color: $color-primary;
    }
}

.btn-inline {
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;

    svg {
        width: 20px;
        transition: transform 0.4s ease-in-out;

        path {
            stroke: $color-accent;
        }
    }

    span {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 0%;
            height: 2px;
            background-color: $color-accent;
            transition: width 0.4s ease-in-out;

        }
    }



    &:hover {
        span {
            position: relative;

            &::after {
                width: 100%;

            }
        }

        svg {
            transform: translateX(10px);
        }

    }

}

.btn-secondary {
    padding: 10px 15px;
    background-color: $color-primary;
    color: $color-background;
    font-size: 20px;
    font-weight: 500;
    font-family: $font-family-body;
    margin-top: 20px;
    cursor: pointer;
}

.h1-hero-aria {
    font-size: $h1-font-size;
    font-family: $font-family-heading ;
    position: relative;
    margin-bottom: 30px;
    color: $color-background-dark;
    width: 700px;
    max-width: fit-content;

    &::after {
        content: " ";
        position: absolute;
        bottom: -10px;
        left: 0;
        width: 100px;
        height: 3px;
        background-color: $color-primary;
    }

    @include respond-to('medium') {
        font-size: 35px;
    }
}

.pragraph-hero-aria {
    font-size: $font-size-base;
    margin-top: 15px;
    color: $color-background-dark;
    font-weight: 200;
    width: 600px;
    max-width: fit-content;

    @include respond-to('medium') {
        font-size: 35px;
    }
}

.video-background {
    video {
        position: absolute;
        top: 0%;
        left: 0%;
        max-width: 100%;
        min-height: 100%;
        z-index: -1;

        object-fit: cover;
    }
}