.btn-primary {
    background-color: $background-color-dark;
    // border: solid 1px $accent-color;
    color: #ffff;
    padding: 10px 15px;
    margin-top: 24px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    position: relative;

    &::after {
        position: absolute;
        content: attr(data-content);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: $accent-color;
        color: $background-color;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translate(-.3rem, -.3rem);
        transition: transform .2s cubic-bezier(.34, 1.56, .64, 1);

    }

    &:hover {

        &::after {
            transform: translate(0, 0);
            ; // Move the ::after element to its original position on hover
        }
    }



}

.btn-shadow {
    color: $accent-color;
    font-weight: 600;
    border: 2px solid $accent-color;
    padding: 8px 24px;
    cursor: pointer;

    &.white {
        border-color: $background-color;
        color: $background-color;
    }

    >span:first-of-type {
        position: sticky;
        z-index: 2000;
    }
}

.relative {
    position: relative;
}

.btn-animation {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    background-color: $background-color;
}

.container {
    max-width: 1200px;
    width: 80%;
}

.center-h {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.center-v {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.animated-text {
    position: relative;
    width: fit-content;

    .animated-bar {
        content: "";
        position: absolute;
        top: 0%;
        right: 0;
        height: 45px;
        width: 2px;
        background-color: $primary-color;
    }
}