

$font-family: Mada, serif;

// Font Sizes
$font-size-base: 18px;
$font-size-large: 1.25rem; // 20px
$font-size-small: 0.875rem; // 14px

// Line Heights
$line-height-base: 1.5;
$line-height-heading: 1.2;

// Headings
$h1-font-size: 45px; // 40px
$h2-font-size: 2rem; // 32px
$h3-font-size: 1.5rem; // 28px
$h4-font-size: 1.5rem; // 24px
$h5-font-size: 1.25rem; // 20px
$h6-font-size: 1rem; // 16px

// Typography Styles
body {
  font-family: $font-family;
  font-size: $font-size-base;
  line-height: $line-height-base;
  
}

h1 {
  font-size: $h1-font-size;
  line-height: $line-height-heading;
  font-family: $font-family;
}

h2 {
  font-size: $h2-font-size;
  line-height: $line-height-heading;
  font-family: $font-family;
}

h3 {
  font-size: $h3-font-size;
  line-height: $line-height-heading;
  font-family: $font-family;
    //font-weight: 600
}

h4 {
  font-size: $h4-font-size;
  line-height: $line-height-heading;
  font-family: $font-family;
}

h5 {
  font-size: $h5-font-size;
  line-height: $line-height-heading;
  font-family: $font-family;
}

h6 {
  font-size: $h6-font-size;
  line-height: $line-height-heading;
  font-family: $font-family;
}
p {
  font-size: $font-size-base;
  line-height:$line-height-base;
}
button {
  font-family: $font-family;
}
// Typography exceptions

.hero-section p {
    line-height: 33px;
    font-size: 20px;
}
