// Base Colors
$primary-color: #06a52e;
$accent-color: #C042EC;
$background-color: #F5F5F5;
$dark-color: #222222;
$primary-color-light: #E6FACD;

// Primary Color Shades
$primary-color-lightest: #F2FFE6;

// Accent Color Shades
$accent-color-dark: #9A33BF;
$accent-color-light: #E893FB;

// Background Color Shades
$background-color-dark: #E0E0E0;
$background-color-light: #FFFFFF;

// Additional Shades for $dark-color-light
$dark-color-dark: #383838; // Darker shade
$dark-color-light: #a4a4a4; // Lighter shade