// Base Colors
$color-primary: #06a52e;
$color-primary-light: #acf7bf;

// Accent Color Shades
$color-accent: #C042EC;
$color-accent-dark: #9A33BF;
$color-accent-light: #E893FB;

// Background Color Shades
$color-background: #F5F5F5;
$color-background-dark: #E0E0E0;
$color-background-light: #FFFFFF;

// Additional Shades for Dark Color
$color-dark: #222222;
$color-dark-dark: #383838; // Darker shade
$color-dark-medium: #717171; // Medium shade
$color-dark-light: #a4a4a4; // Lighter shade