.About {
    width: 100%;

    .hero-aria-about {
        min-height: 100vh;
        background-image: linear-gradient(#30303069, #30303069);
        background-size: cover;
        overflow: hidden;
        position: relative;

        .hero-aria-content {
            margin-top: 50px;
        }

    }

    .about-content {
        .mission-section {
            padding-block: 50px;

            .mission-section-content {
                display: grid;
                grid-template-columns: 1fr 2fr;
                grid-row: 1;

                @include respond-to('medium') {
                    display: flex;
                    flex-direction: column;
                    gap: 25px;
                }

                h2 {
                    font-family: "Source Serif 4";
                    position: relative;

                    &::after {
                        content: " ";
                        position: absolute;
                        bottom: -10px;
                        left: 0;
                        width: 50px;
                        height: 3px;
                        background-color: $color-primary;
                    }
                }

                p {
                    text-align: justify;

                    span {
                        font-weight: 700;
                    }
                }
            }
        }

        .what-we-do-section {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #fff;
            padding-block: 65px;

            .what-we-do-section-content {
                display: flex;
                flex-direction: column;

                .what-we-do-section-heading {
                    padding-block: 30px;
                }

                h2 {
                    font-family: "Source Serif 4";
                    position: relative;
                }

                h2::after {
                    content: " ";
                    position: absolute;
                    bottom: -10px;
                    left: 0;
                    width: 50px;
                    height: 3px;
                    background-color: $color-primary;
                }

                ul {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: 1fr 1fr;
                    gap: 25px;

                    @include respond-to('medium') {
                        display: flex;
                        flex-direction: column;
                        gap: 15px;
                    }

                    li {
                        padding: 20px;
                        background-color: $color-primary-light;
                    }
                }
            }
        }

        .vision-section {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-block: 65px;


            .vision-section-wrapper {
                .container {
                    display: grid;
                    grid-template-columns: 2fr 1.8fr;
                    grid-row: 1;
                    gap: 35px;

                    @include respond-to('medium') {
                        display: flex;
                        flex-direction: column;
                        gap: 35px;
                    }


                    h2 {
                        font-family: "Source Serif 4";
                        position: relative;

                        &::after {
                            content: " ";
                            position: absolute;
                            bottom: -10px;
                            left: 0;
                            width: 50px;
                            height: 3px;
                            background-color: $color-primary;
                        }
                    }



                    p {
                        margin-top: 25px;
                        text-align: justify;
                    }
                }
            }


        }

        .join-us-section {
            background-color: $color-primary-light;
            padding-block: 65px;
            display: flex;
            align-items: start;
            justify-content: center;

            .join-us-section-wrapper {

                h2 {
                    font-family: "Source Serif 4";
                    position: relative;

                    &::after {
                        content: " ";
                        position: absolute;
                        bottom: -10px;
                        left: 0;
                        width: 50px;
                        height: 3px;
                        background-color: $color-primary;
                    }
                }

                p {
                    margin-block: 25px;
                    text-align: justify;
                    width: 70%;
                }
            }
        }

        .get-involved-section {
            padding-block: 65px;
            display: flex;
            align-items: start;
            justify-content: center;

            .get-involved-section-wrapper {
                .container {
                    display: grid;
                    grid-template-columns: 1fr 1.2fr;
                    grid-row: 1;
                    gap: 120px;

                    @include respond-to('medium') {
                        display: flex;
                        flex-direction: column;
                        gap: 35px;
                    }

                    h2 {
                        font-family: "Source Serif 4";
                        position: relative;

                        &::after {
                            content: " ";
                            position: absolute;
                            bottom: -10px;
                            left: 0;
                            width: 50px;
                            height: 3px;
                            background-color: $color-primary;
                        }
                    }

                    p {
                        margin-block: 25px;
                        text-align: justify;
                    }

                    .get-involved-links {
                        display: flex;
                        align-items: start;
                        justify-content: center;
                        flex-direction: column;
                        gap: 35px;

                        .get-involve-link {
                            display: flex;
                            align-items: center;
                            flex-direction: row;

                            &:hover {
                                color: $color-primary;
                                text-decoration: underline;
                            }

                            img {
                                transform: scale(0.5);
                            }
                        }
                    }
                }

            }
        }

    }


}