.Blog {
    width: 100%;
}

.blog-container {
    .blog-heading {
        height: 80vh;
        background-image: linear-gradient(#30303069, #30303069), url("../../IMGS/gardener.jpg");
        background-size: cover;
        width: 100%;

        .container {
            text-align: center;

            h1 {
                font-family: $font-family-heading ;
                position: relative;
                margin-bottom: 30px;
                color: $background-color;

                &::after {
                    content: " ";
                    position: absolute;
                    bottom: -10px;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 180px;
                    height: 3px;
                    background-color: $primary-color;
                }
            }

            p {
                margin-top: 15px;
                color: $background-color-dark;
                font-weight: 200;
            }
        }
    }

    .blog-content {
        .what-are-intreseted-section {
            padding-block: 50px;
            background-color: #fff;

            h2 {
                font-family: $font-family-heading;
            }

            .categories {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: flex-start;
                gap: 30px;
                margin-top: 30px;

                .category-item {
                    flex: 1 1 200px;
                    height: 150px;

                    overflow-y: hidden;
                    position: relative;
                    background-image: linear-gradient(#30303069, #30303069), url("../../IMGS/blog/categories/article-cover-01.jpg");
                    background-size: cover;

                    .category-info {
                        position: absolute;
                        bottom: 10px;
                        text-wrap: wrap;

                        h6 {
                            margin-left: 10px;
                            color: $background-color;
                        }
                    }

                    .category-hover {
                        position: absolute;
                        background-color: $primary-color;
                        height: 150px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;

                    }
                }
            }


        }

        .latest-posts-section {
            .latest-posts-heading {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                h2 {
                    font-family: $font-family-heading ;
                    position: relative;
                    margin-bottom: 30px;

                    &::after {
                        content: " ";
                        position: absolute;
                        bottom: -10px;
                        left: 0;
                        width: 50px;
                        height: 3px;
                        background-color: $primary-color;
                    }
                }




            }

            .latest-post-section {
                position: relative;

                .latest-post-carousel {
                    display: flex;
                    flex-direction: row;
                    gap: 30px;
                    overflow-x: scroll;

                    &::-webkit-scrollbar {
                        display: none;
                    }

                    .browse-articles {
                        flex-shrink: 0;
                        width: 250px;
                        height: 300px;
                        display: flex;
                        align-items: start;
                        justify-content: center;
                        flex-direction: column;
                    }

                    .posts-grid {
                        display: flex;
                        flex-direction: row;
                        gap: 30px;

                        >*:nth-child(1) {
                            background-image: linear-gradient(#30303069, #30303069), url("../../IMGS/kiki-wang-TOc_JldXOX8-unsplash.jpg");
                            background-size: cover;
                        }

                        >*:nth-child(2) {
                            background-image: linear-gradient(#30303069, #30303069), url("../../IMGS/kiki-wang-TOc_JldXOX8-unsplash.jpg");
                            background-size: cover;
                        }

                        >*:nth-child(3) {
                            background-image: linear-gradient(#30303069, #30303069), url("../../IMGS/kiki-wang-TOc_JldXOX8-unsplash.jpg");
                            background-size: cover;
                        }

                        >*:nth-child(4) {
                            background-image: linear-gradient(#30303069, #30303069), url("../../IMGS/kiki-wang-TOc_JldXOX8-unsplash.jpg");
                            background-size: cover;
                        }

                        >*:nth-child(5) {
                            background-image: linear-gradient(#30303069, #30303069), url("../../IMGS/kiki-wang-TOc_JldXOX8-unsplash.jpg");
                            background-size: cover;
                        }


                        .single-post {
                            flex: 0 0 400px;
                            display: flex;
                            align-items: end;
                            padding-block: 20px;
                            width: 400px;
                            height: 300px;
                            color: $background-color-light;
                        }

                    }

                }

                .left,
                .right {
                    background-color: $accent-color; // This will apply your SCSS accent color variable
                    position: relative;
                    /* Or absolute if you prefer */
                    top: 50%;
                    cursor: pointer;
                    height: 30px;
                    width: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transform: translateY(-50%);
                    /* Vertically center */
                    z-index: 10;

                    svg {
                        position: sticky;
                        z-index: 2;

                        path {
                            stroke: $background-color-light;
                        }
                    }

                    span {
                        position: absolute;
                        top: 50%;
                        right: 50%;
                        transform: translate(50%, -50%);
                        background-color: $background-color-light;
                        pointer-events: none;
                    }


                    &:hover {
                        svg {
                            path {
                                stroke: $accent-color;

                            }
                        }
                    }

                }

                .left {
                    left: 10px;
                    /* Adjust the left positioning */
                }

                .right {
                    right: 10px;
                    /* Adjust the right positioning */
                }

                .left-icon,
                .right-icon {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                }

                .left-icon {
                    left: 0;
                }

                .right-icon {
                    right: 0;
                }
            }


        }
    }

}