.Blog {
    width: 100%;

    .hero-section {
        background-image: linear-gradient(#30303069, #30303069);
        background-size: cover;
        position: relative;

        .blog-heading {
            padding-block: 50px;
            width: 100%;

            .container {

                .content {
                    width: 70%;
                }
            }
        }
    }

    .blog-container {
        padding-block: 70px;

        .blog-content {

            .categories {
                width: 80%;
                display: flex;
                justify-content: space-between;
                align-items: start;
                flex-direction: row;

                button {
                    font-size: 18px;
                    color: $color-dark-dark;
                }
            }
        }
    }

}