.hero-section {
    background-image: linear-gradient(#30303069, #30303069);
    background-size: cover;
    position: relative;
    min-height: 100vh;
    overflow: hidden;

    .home-heading {
        padding-block: 50px;
        width: 100%;

        .container {

            .content {
                width: 70%;
            }
        }
    }
}