@import url("https://fonts.googleapis.com/css2?family=Mada:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap");
body {
  font-family: Mada, sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

h1 {
  font-size: 45px;
  line-height: 1.2;
  font-family: Mada, sans-serif;
}

h2 {
  font-size: 2rem;
  line-height: 1.2;
  font-family: Mada, sans-serif;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.2;
  font-family: Mada, sans-serif;
}

h4 {
  font-size: 1.5rem;
  line-height: 1.2;
  font-family: Mada, sans-serif;
}

h5 {
  font-size: 1.25rem;
  line-height: 1.2;
  font-family: Mada, sans-serif;
}

h6 {
  font-size: 1rem;
  line-height: 1.2;
  font-family: Mada, sans-serif;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

button {
  font-family: Mada, sans-serif;
}

.hero-section p {
  line-height: 33px;
  font-size: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FAFAFA;
}

a {
  text-decoration: none;
  color: #222222;
}

ul {
  list-style: none;
}

a:hover {
  color: #222222;
}

button {
  border: none;
  background: none;
}

.btn-primary {
  background-color: #F5F5F5;
  border: solid 2px #C042EC;
  color: white;
  padding: 10px 15px;
  margin-top: 24px;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  position: relative;
}
.btn-primary::after {
  position: absolute;
  content: attr(data-content);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #C042EC;
  color: #F5F5F5;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-0.3rem, -0.3rem);
  transition: transform 0.2s cubic-bezier(0.34, 1.56, 0.64, 1);
}
.btn-primary:hover::after {
  transform: translate(0, 0);
}

.btn-shadow {
  color: #C042EC;
  font-weight: 600;
  border: 2px solid #C042EC;
  padding: 8px 24px;
  cursor: pointer;
}
.btn-shadow.whtite {
  border-color: #F5F5F5;
  color: #F5F5F5;
}

.relative {
  position: relative;
}

.btn-animation {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  background-color: #F5F5F5;
  z-index: -1;
}

.container {
  max-width: 1200px;
  width: 80%;
}

.center-h {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.center-v {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.animated-text {
  position: relative;
  width: fit-content;
}
.animated-text .animated-bar {
  content: "";
  position: absolute;
  top: 0%;
  right: 0;
  height: 45px;
  width: 2px;
  background-color: #4E8905;
}

.loading-block {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  width: 100%;
  height: 100vh;
  background-color: #F5F5F5;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.circle {
  width: 0%;
  padding: 19px 45px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  animation: downloadProgress 10s linear 1;
}

@keyframes downloadProgress {
  from {
    border: none;
  }
  to {
    border: 2px solid #0EC277;
  }
}
header {
  padding: 50px 0;
}
header .nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 100%;
  margin-right: 12px;
  z-index: 1000;
  position: relative;
  font-weight: 500;
}
header .nav-links .menu-lines {
  background-color: #fff;
  padding: 20px;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}
header .nav-links .menu-lines .menu-line {
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: #4E8905;
}
header .nav-links nav {
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 45px;
  position: absolute;
  top: 100px;
  right: 0;
  background-color: #fff;
  padding: 20px;
}
header .nav-links nav .nav-link {
  font-weight: 500;
  font-size: 25px;
}

.hero-section .Slides {
  color: #0c0c0c;
  display: flex;
  flex-direction: column;
}
.hero-section .Slides .slide {
  padding-block: 25px;
  display: grid;
  grid-template-columns: 2.4fr 3fr;
  grid-row: 1;
}
.hero-section .Slides .slide .slide-content {
  opacity: 0;
  transform: translateY(-100%);
}
.hero-section .Slides .slide .slide-content.active {
  opacity: 1;
  transform: translateY(0);
  transition: transform 1s ease, opacity 0.5s ease;
}
.hero-section .Slides .slide .content h1 {
  font-family: "Source Serif 4";
  margin-bottom: 24px;
}
.hero-section .Slides .slide .content p {
  font-family: "Mada";
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 35px;
}
.hero-section .Slides .slide .content .cta-btn {
  padding: 20px 18px;
  background-color: #C042EC;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}
.hero-section .Slides .slide .content-stati {
  display: flex;
  flex-direction: row;
  padding: 35px 30px;
  justify-content: space-between;
  background-color: #ececec;
  margin-top: 18px;
}
.hero-section .Slides .slide .content-stati h3 {
  font-family: "Mada";
}
.hero-section .Slides .slide .content-stati span {
  font-family: "Mada";
  font-size: 20px;
  display: block;
}
.hero-section .Slides .slide-image {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 44px;
  width: 50%;
  height: 100vh;
  position: absolute;
  top: -100vh;
  right: 0;
  transition: opacity 0.5s ease, transform 0.5s ease;
  opacity: 0;
  transform: translateY(-100%);
}
.hero-section .Slides .slide-image .numbers .n01, .hero-section .Slides .slide-image .numbers .n02, .hero-section .Slides .slide-image .numbers .n03 {
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
  margin-right: 80px;
  background-color: #C042EC;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.hero-section .Slides .slide-image .numbers .n01 :hover, .hero-section .Slides .slide-image .numbers .n02 :hover, .hero-section .Slides .slide-image .numbers .n03 :hover {
  cursor: pointer;
}
.hero-section .Slides .slide-image.active {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(0);
  opacity: 1;
}
.hero-section .Slides .i01 {
  background-image: linear-gradient(rgba(231, 231, 231, 0.15), rgba(231, 231, 231, 0.15)), url("../../IMGS/pexels-lukas-rodriguez-1845331-3573351.jpg");
  background-size: cover;
}
.hero-section .Slides .i02 {
  background-image: linear-gradient(rgba(231, 231, 231, 0.15), rgba(231, 231, 231, 0.15)), url("../../IMGS/pexels-jplenio-2566845.jpg");
  background-size: cover;
}
.hero-section .Slides .i03 {
  background-image: linear-gradient(rgba(231, 231, 231, 0.2), rgba(231, 231, 231, 0.2)), url("../../IMGS/pexels-tomfisk-3815299.jpg");
  background-size: cover;
}

.educational {
  padding-block: 25px;
}

.edu-content {
  width: 100%;
}

.edu-links {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-block: 35px;
}

.edu-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 25px;
  font-size: 1.25rem;
  font-weight: 700;
  width: 100%;
  border-bottom: 2px solid #F4F4F4;
}

.edu-link.active {
  border-bottom-color: #4E8905;
}

.edu-link:last-child {
  border-right: none;
}

.article-item {
  display: grid;
  grid-template-columns: 25% 75%;
  grid-row: 1;
  margin-bottom: 25px;
}

.article-item-cover img {
  width: 150px;
}

.books-list {
  display: grid;
  width: 100%;
  grid-template-rows: auto;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 45px;
}

.book-item-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 15px;
}

.book-item-content h5 {
  text-align: center;
}

.book-date-pub {
  font-size: 0.875rem;
}

.book-item-cover {
  display: flex;
  align-items: center;
  justify-content: center;
}

.book-author {
  font-size: 1rem;
  font-weight: 500;
}

.hero-aria-about {
  height: 80vh;
  background-image: linear-gradient(rgba(48, 48, 48, 0.4117647059), rgba(48, 48, 48, 0.4117647059)), url("../../IMGS/kiki-wang-TOc_JldXOX8-unsplash.jpg");
  background-size: cover;
  width: 100%;
}
.hero-aria-about .hero-aria-about-content {
  color: #fff;
  text-align: center;
  margin-top: 70px;
}
.hero-aria-about .hero-aria-about-content h1,
.hero-aria-about .hero-aria-about-content h2 {
  font-family: "Source Serif 4";
}

.about-content .mission-section {
  padding-block: 65px;
  display: flex;
  align-items: start;
  justify-content: center;
}
.about-content .mission-section .mission-section-content {
  width: 900px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-row: 1;
}
.about-content .mission-section .mission-section-content h2 {
  font-family: "Source Serif 4";
  position: relative;
}
.about-content .mission-section .mission-section-content h2::after {
  content: " ";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 50px;
  height: 3px;
  background-color: #4E8905;
}
.about-content .mission-section .mission-section-content p {
  text-align: justify;
}
.about-content .mission-section .mission-section-content p span {
  font-weight: 700;
}
.about-content .who-we-are-section {
  padding: 65px 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row: 1;
  gap: -50px;
}
.about-content .who-we-are-section .who-we-are-section-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
}
.about-content .who-we-are-section .who-we-are-section-img img {
  width: 500px;
}
.about-content .what-we-do-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding-block: 65px;
}
.about-content .what-we-do-section .what-we-do-section-content {
  display: flex;
  flex-direction: column;
  width: 900px;
}
.about-content .what-we-do-section .what-we-do-section-content .what-we-do-section-heading {
  padding-block: 30px;
}
.about-content .what-we-do-section .what-we-do-section-content h2 {
  font-family: "Source Serif 4";
  position: relative;
}
.about-content .what-we-do-section .what-we-do-section-content h2::after {
  content: " ";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 50px;
  height: 3px;
  background-color: #4E8905;
}
.about-content .what-we-do-section .what-we-do-section-content ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 25px;
}
.about-content .what-we-do-section .what-we-do-section-content ul li {
  padding: 20px;
  background-color: #E6FACD;
}
.about-content .vision-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 65px;
}
.about-content .vision-section .vision-section-wrapper {
  display: grid;
  grid-template-columns: 2fr 1.8fr;
  grid-row: 1;
  gap: 35px;
  width: 900px;
}
.about-content .vision-section .vision-section-wrapper h2 {
  font-family: "Source Serif 4";
  position: relative;
}
.about-content .vision-section .vision-section-wrapper h2::after {
  content: " ";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 50px;
  height: 3px;
  background-color: #4E8905;
}
.about-content .vision-section .vision-section-wrapper p {
  margin-top: 25px;
  text-align: justify;
}
.about-content .join-us-section {
  background-color: #E6FACD;
  padding-block: 65px;
  display: flex;
  align-items: start;
  justify-content: center;
}
.about-content .join-us-section .join-us-section-wrapper {
  width: 900px;
}
.about-content .join-us-section .join-us-section-wrapper h2 {
  font-family: "Source Serif 4";
  position: relative;
}
.about-content .join-us-section .join-us-section-wrapper h2::after {
  content: " ";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 50px;
  height: 3px;
  background-color: #4E8905;
}
.about-content .join-us-section .join-us-section-wrapper p {
  margin-block: 25px;
  text-align: justify;
}
.about-content .get-involved-section {
  padding-block: 65px;
  display: flex;
  align-items: start;
  justify-content: center;
}
.about-content .get-involved-section .get-involved-section-wrapper {
  width: 900px;
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  grid-row: 1;
  gap: 85px;
}
.about-content .get-involved-section .get-involved-section-wrapper h2 {
  font-family: "Source Serif 4";
  position: relative;
}
.about-content .get-involved-section .get-involved-section-wrapper h2::after {
  content: " ";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 50px;
  height: 3px;
  background-color: #4E8905;
}
.about-content .get-involved-section .get-involved-section-wrapper p {
  margin-block: 25px;
  text-align: justify;
}
.about-content .get-involved-section .get-involved-section-wrapper .get-involved-links {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 35px;
}
.about-content .get-involved-section .get-involved-section-wrapper .get-involved-links .get-involve-link {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.about-content .get-involved-section .get-involved-section-wrapper .get-involved-links .get-involve-link:hover {
  color: #4E8905;
  text-decoration: underline;
}
.about-content .get-involved-section .get-involved-section-wrapper .get-involved-links .get-involve-link img {
  transform: scale(0.5);
}

.Blog {
  width: 100%;
}

.blog-container .blog-heading {
  height: 80vh;
  background-image: linear-gradient(rgba(48, 48, 48, 0.4117647059), rgba(48, 48, 48, 0.4117647059)), url("../../IMGS/gardener.jpg");
  background-size: cover;
  width: 100%;
}
.blog-container .blog-heading .container {
  text-align: center;
}
.blog-container .blog-heading .container h1 {
  font-family: "Source Serif 4", serif;
  position: relative;
  margin-bottom: 30px;
  color: #F5F5F5;
}
.blog-container .blog-heading .container h1::after {
  content: " ";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 180px;
  height: 3px;
  background-color: #4E8905;
}
.blog-container .blog-heading .container p {
  margin-top: 15px;
  color: #E0E0E0;
  font-weight: 200;
}
.blog-container .blog-content .what-are-intreseted-section {
  padding-block: 50px;
  background-color: #fff;
}
.blog-container .blog-content .what-are-intreseted-section h2 {
  font-family: "Source Serif 4", serif;
}
.blog-container .blog-content .what-are-intreseted-section .categories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 30px;
  margin-top: 30px;
}
.blog-container .blog-content .what-are-intreseted-section .categories .category-item {
  flex: 1 1 200px;
  height: 150px;
  overflow-y: hidden;
  position: relative;
  background-image: linear-gradient(rgba(48, 48, 48, 0.4117647059), rgba(48, 48, 48, 0.4117647059)), url("../../IMGS/blog/categories/article-cover-01.jpg");
  background-size: cover;
}
.blog-container .blog-content .what-are-intreseted-section .categories .category-item .category-info {
  position: absolute;
  bottom: 10px;
  text-wrap: wrap;
}
.blog-container .blog-content .what-are-intreseted-section .categories .category-item .category-info h6 {
  margin-left: 10px;
  color: #F5F5F5;
}
.blog-container .blog-content .what-are-intreseted-section .categories .category-item .category-hover {
  position: absolute;
  background-color: #4E8905;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.blog-container .blog-content .latest-posts-section .latest-posts-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.blog-container .blog-content .latest-posts-section .latest-posts-heading h2 {
  font-family: "Source Serif 4", serif;
  position: relative;
  margin-bottom: 30px;
}
.blog-container .blog-content .latest-posts-section .latest-posts-heading h2::after {
  content: " ";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 50px;
  height: 3px;
  background-color: #4E8905;
}
.blog-container .blog-content .latest-posts-section .latest-post-section {
  position: relative;
}
.blog-container .blog-content .latest-posts-section .latest-post-section .latest-post-carousel {
  display: flex;
  flex-direction: row;
  gap: 30px;
  overflow-x: scroll;
}
.blog-container .blog-content .latest-posts-section .latest-post-section .latest-post-carousel::-webkit-scrollbar {
  display: none;
}
.blog-container .blog-content .latest-posts-section .latest-post-section .latest-post-carousel .browse-articles {
  flex-shrink: 0;
  width: 250px;
  height: 300px;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}
.blog-container .blog-content .latest-posts-section .latest-post-section .latest-post-carousel .posts-grid {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.blog-container .blog-content .latest-posts-section .latest-post-section .latest-post-carousel .posts-grid > *:nth-child(1) {
  background-image: linear-gradient(rgba(48, 48, 48, 0.4117647059), rgba(48, 48, 48, 0.4117647059)), url("../../IMGS/kiki-wang-TOc_JldXOX8-unsplash.jpg");
  background-size: cover;
}
.blog-container .blog-content .latest-posts-section .latest-post-section .latest-post-carousel .posts-grid > *:nth-child(2) {
  background-image: linear-gradient(rgba(48, 48, 48, 0.4117647059), rgba(48, 48, 48, 0.4117647059)), url("../../IMGS/kiki-wang-TOc_JldXOX8-unsplash.jpg");
  background-size: cover;
}
.blog-container .blog-content .latest-posts-section .latest-post-section .latest-post-carousel .posts-grid > *:nth-child(3) {
  background-image: linear-gradient(rgba(48, 48, 48, 0.4117647059), rgba(48, 48, 48, 0.4117647059)), url("../../IMGS/kiki-wang-TOc_JldXOX8-unsplash.jpg");
  background-size: cover;
}
.blog-container .blog-content .latest-posts-section .latest-post-section .latest-post-carousel .posts-grid > *:nth-child(4) {
  background-image: linear-gradient(rgba(48, 48, 48, 0.4117647059), rgba(48, 48, 48, 0.4117647059)), url("../../IMGS/kiki-wang-TOc_JldXOX8-unsplash.jpg");
  background-size: cover;
}
.blog-container .blog-content .latest-posts-section .latest-post-section .latest-post-carousel .posts-grid > *:nth-child(5) {
  background-image: linear-gradient(rgba(48, 48, 48, 0.4117647059), rgba(48, 48, 48, 0.4117647059)), url("../../IMGS/kiki-wang-TOc_JldXOX8-unsplash.jpg");
  background-size: cover;
}
.blog-container .blog-content .latest-posts-section .latest-post-section .latest-post-carousel .posts-grid .single-post {
  flex: 0 0 400px;
  display: flex;
  align-items: end;
  padding-block: 20px;
  width: 400px;
  height: 300px;
  color: #FFFFFF;
}
.blog-container .blog-content .latest-posts-section .latest-post-section .left,
.blog-container .blog-content .latest-posts-section .latest-post-section .right {
  background-color: #C042EC;
  position: relative;
  /* Or absolute if you prefer */
  top: 50%;
  cursor: pointer;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
  /* Vertically center */
  z-index: 10;
}
.blog-container .blog-content .latest-posts-section .latest-post-section .left svg,
.blog-container .blog-content .latest-posts-section .latest-post-section .right svg {
  position: sticky;
  z-index: 2;
}
.blog-container .blog-content .latest-posts-section .latest-post-section .left svg path,
.blog-container .blog-content .latest-posts-section .latest-post-section .right svg path {
  stroke: #FFFFFF;
}
.blog-container .blog-content .latest-posts-section .latest-post-section .left span,
.blog-container .blog-content .latest-posts-section .latest-post-section .right span {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  background-color: #FFFFFF;
  pointer-events: none;
}
.blog-container .blog-content .latest-posts-section .latest-post-section .left:hover svg path,
.blog-container .blog-content .latest-posts-section .latest-post-section .right:hover svg path {
  stroke: #C042EC;
}
.blog-container .blog-content .latest-posts-section .latest-post-section .left {
  left: 10px;
  /* Adjust the left positioning */
}
.blog-container .blog-content .latest-posts-section .latest-post-section .right {
  right: 10px;
  /* Adjust the right positioning */
}
.blog-container .blog-content .latest-posts-section .latest-post-section .left-icon,
.blog-container .blog-content .latest-posts-section .latest-post-section .right-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.blog-container .blog-content .latest-posts-section .latest-post-section .left-icon {
  left: 0;
}
.blog-container .blog-content .latest-posts-section .latest-post-section .right-icon {
  right: 0;
}

/*# sourceMappingURL=main.css.map */
