@import url("https://fonts.googleapis.com/css2?family=Mada:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap");
body {
  font-family: Mada, sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

h1 {
  font-size: 45px;
  line-height: 1.2;
  font-family: Mada, sans-serif;
}

h2 {
  font-size: 2rem;
  line-height: 1.2;
  font-family: Mada, sans-serif;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.2;
  font-family: Mada, sans-serif;
}

h4 {
  font-size: 1.5rem;
  line-height: 1.2;
  font-family: Mada, sans-serif;
}

h5 {
  font-size: 1.25rem;
  line-height: 1.2;
  font-family: Mada, sans-serif;
}

h6 {
  font-size: 1rem;
  line-height: 1.2;
  font-family: Mada, sans-serif;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

button {
  font-family: Mada, sans-serif;
}

.hero-section p {
  line-height: 33px;
  font-size: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* Track */
  /* Handle */
  /* Handle on hover */
}
html ::-webkit-scrollbar {
  width: 5px;
}
html ::-webkit-scrollbar-track {
  background: none;
}
html ::-webkit-scrollbar-thumb {
  background: #E893FB;
}
html ::-webkit-scrollbar-thumb:hover {
  background: #9A33BF;
}

body {
  background-color: #FAFAFA;
}

a {
  text-decoration: none;
  color: #222222;
}

ul {
  list-style: none;
}

a:hover {
  color: #222222;
}

button {
  border: none;
  background: none;
}

.btn-primary {
  background-color: #E0E0E0;
  color: white;
  padding: 10px 15px;
  margin-top: 24px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}
.btn-primary::after {
  position: absolute;
  content: attr(data-content);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #C042EC;
  color: #F5F5F5;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-0.3rem, -0.3rem);
  transition: transform 0.2s cubic-bezier(0.34, 1.56, 0.64, 1);
}
.btn-primary:hover::after {
  transform: translate(0, 0);
}

.btn-shadow {
  color: #C042EC;
  font-weight: 600;
  border: 2px solid #C042EC;
  padding: 8px 24px;
  cursor: pointer;
}
.btn-shadow.white {
  border-color: #F5F5F5;
  color: #F5F5F5;
}
.btn-shadow > span:first-of-type {
  position: sticky;
  z-index: 2000;
}

.relative {
  position: relative;
}

.btn-animation {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  background-color: #F5F5F5;
}

.container {
  max-width: 1200px;
  width: 80%;
}

.center-h {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.center-v {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.animated-text {
  position: relative;
  width: fit-content;
}
.animated-text .animated-bar {
  content: "";
  position: absolute;
  top: 0%;
  right: 0;
  height: 45px;
  width: 2px;
  background-color: #06a52e;
}

.btn-inline {
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}
.btn-inline svg {
  width: 20px;
  transition: transform 0.4s ease-in-out;
}
.btn-inline svg path {
  stroke: #C042EC;
}
.btn-inline span {
  position: relative;
}
.btn-inline span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #C042EC;
  transition: width 0.4s ease-in-out;
}
.btn-inline:hover span {
  position: relative;
}
.btn-inline:hover span::after {
  width: 100%;
}
.btn-inline:hover svg {
  transform: translateX(10px);
}

.btn-secondary {
  padding: 10px 15px;
  background-color: #06a52e;
  color: #F5F5F5;
  font-size: 20px;
  font-weight: 500;
  font-family: Mada, sans-serif;
  margin-top: 20px;
  cursor: pointer;
}

.h1-hero-aria {
  font-size: 45px;
  font-family: "Source Serif 4", serif;
  position: relative;
  margin-bottom: 30px;
  color: #E0E0E0;
  width: 700px;
}
.h1-hero-aria::after {
  content: " ";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100px;
  height: 3px;
  background-color: #06a52e;
}

.pragraph-hero-aria {
  font-size: 18px;
  margin-top: 15px;
  color: #E0E0E0;
  font-weight: 200;
  width: 600px;
}

.video-background video {
  position: absolute;
  top: 0%;
  left: 0%;
  max-width: 100%;
  min-height: 100%;
  z-index: -1;
  object-fit: cover;
}

.loading-block {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  width: 100%;
  height: 100vh;
  background-color: #F5F5F5;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.circle {
  width: 0%;
  padding: 19px 45px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
}

@keyframes timer-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
header {
  padding: 30px 0;
}
header .nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 100%;
  margin-right: 12px;
  z-index: 1000;
  position: relative;
  font-weight: 500;
}
header .nav-links .menu-lines {
  background-color: #fff;
  padding: 20px;
  position: relative;
  cursor: pointer;
  display: none;
}
@media (max-width: 768px) {
  header .nav-links .menu-lines {
    display: block;
  }
}
header .nav-links .menu-lines .menu-line {
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: #06a52e;
}
header .nav-links nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 45px;
}
header .nav-links nav .nav-link {
  font-weight: 500;
  font-size: 16px;
  padding: 8px 16px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #E0E0E0;
}
header .nav-links nav .nav-link > span:first-of-type {
  width: 100%;
  height: 100%;
  z-index: 2000;
}
header .nav-links nav .nav-link > span:last-of-type {
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translate(50%, 50%);
  background-color: #06a52e;
  transform: scale(0);
  z-index: 1000;
}
header .nav-links nav .nav-link.active > span:last-of-type {
  transform: scale(1);
}
@media (max-width: 768px) {
  header .nav-links {
    position: absolute;
    flex-direction: column;
    align-content: center;
    top: 100px;
    right: 0;
    background-color: #fff;
    padding: 20px;
    display: none;
  }
  header .nav-links.open {
    display: flex;
  }
  header .nav-links .nav-link {
    font-size: 25px;
  }
}
header.dark .nav-link {
  color: #222222 !important;
}

footer {
  height: fit-content;
  width: 100%;
  padding-block: 20px;
  background-color: #06a52e;
}
footer .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row: 1;
}
footer .container .footer-links ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}
footer .container .footer-nav-link {
  color: #F5F5F5;
}
footer .container .footer-social {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.educational {
  padding-block: 25px;
}

.edu-content {
  width: 100%;
}

.edu-links {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-block: 35px;
}

.edu-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 25px;
  font-size: 1.25rem;
  font-weight: 700;
  width: 100%;
  border-bottom: 2px solid #F4F4F4;
}

.edu-link.active {
  border-bottom-color: #06a52e;
}

.edu-link:last-child {
  border-right: none;
}

.article-item {
  display: grid;
  grid-template-columns: 25% 75%;
  grid-row: 1;
  margin-bottom: 25px;
}

.article-item-cover img {
  width: 150px;
}

.books-list {
  display: grid;
  width: 100%;
  grid-template-rows: auto;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 45px;
}

.book-item-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 15px;
}

.book-item-content h5 {
  text-align: center;
}

.book-date-pub {
  font-size: 0.875rem;
}

.book-item-cover {
  display: flex;
  align-items: center;
  justify-content: center;
}

.book-author {
  font-size: 1rem;
  font-weight: 500;
}

.About {
  width: 100%;
}
.About .hero-aria-about {
  min-height: 100vh;
  background-image: linear-gradient(rgba(48, 48, 48, 0.4117647059), rgba(48, 48, 48, 0.4117647059));
  background-size: cover;
  overflow: hidden;
  position: relative;
}
.About .hero-aria-about .hero-aria-content {
  margin-top: 50px;
}
.About .about-content .mission-section {
  padding-block: 50px;
}
.About .about-content .mission-section .mission-section-content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-row: 1;
}
@media (max-width: 768px) {
  .About .about-content .mission-section .mission-section-content {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
}
.About .about-content .mission-section .mission-section-content h2 {
  font-family: "Source Serif 4";
  position: relative;
}
.About .about-content .mission-section .mission-section-content h2::after {
  content: " ";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 50px;
  height: 3px;
  background-color: #06a52e;
}
.About .about-content .mission-section .mission-section-content p {
  text-align: justify;
}
.About .about-content .mission-section .mission-section-content p span {
  font-weight: 700;
}
.About .about-content .what-we-do-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding-block: 65px;
}
.About .about-content .what-we-do-section .what-we-do-section-content {
  display: flex;
  flex-direction: column;
}
.About .about-content .what-we-do-section .what-we-do-section-content .what-we-do-section-heading {
  padding-block: 30px;
}
.About .about-content .what-we-do-section .what-we-do-section-content h2 {
  font-family: "Source Serif 4";
  position: relative;
}
.About .about-content .what-we-do-section .what-we-do-section-content h2::after {
  content: " ";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 50px;
  height: 3px;
  background-color: #06a52e;
}
.About .about-content .what-we-do-section .what-we-do-section-content ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 25px;
}
@media (max-width: 768px) {
  .About .about-content .what-we-do-section .what-we-do-section-content ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}
.About .about-content .what-we-do-section .what-we-do-section-content ul li {
  padding: 20px;
  background-color: #E6FACD;
}
.About .about-content .vision-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 65px;
}
.About .about-content .vision-section .vision-section-wrapper .container {
  display: grid;
  grid-template-columns: 2fr 1.8fr;
  grid-row: 1;
  gap: 35px;
}
@media (max-width: 768px) {
  .About .about-content .vision-section .vision-section-wrapper .container {
    display: flex;
    flex-direction: column;
    gap: 35px;
  }
}
.About .about-content .vision-section .vision-section-wrapper .container h2 {
  font-family: "Source Serif 4";
  position: relative;
}
.About .about-content .vision-section .vision-section-wrapper .container h2::after {
  content: " ";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 50px;
  height: 3px;
  background-color: #06a52e;
}
.About .about-content .vision-section .vision-section-wrapper .container p {
  margin-top: 25px;
  text-align: justify;
}
.About .about-content .join-us-section {
  background-color: #E6FACD;
  padding-block: 65px;
  display: flex;
  align-items: start;
  justify-content: center;
}
.About .about-content .join-us-section .join-us-section-wrapper h2 {
  font-family: "Source Serif 4";
  position: relative;
}
.About .about-content .join-us-section .join-us-section-wrapper h2::after {
  content: " ";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 50px;
  height: 3px;
  background-color: #06a52e;
}
.About .about-content .join-us-section .join-us-section-wrapper p {
  margin-block: 25px;
  text-align: justify;
  width: 70%;
}
.About .about-content .get-involved-section {
  padding-block: 65px;
  display: flex;
  align-items: start;
  justify-content: center;
}
.About .about-content .get-involved-section .get-involved-section-wrapper .container {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  grid-row: 1;
  gap: 120px;
}
@media (max-width: 768px) {
  .About .about-content .get-involved-section .get-involved-section-wrapper .container {
    display: flex;
    flex-direction: column;
    gap: 35px;
  }
}
.About .about-content .get-involved-section .get-involved-section-wrapper .container h2 {
  font-family: "Source Serif 4";
  position: relative;
}
.About .about-content .get-involved-section .get-involved-section-wrapper .container h2::after {
  content: " ";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 50px;
  height: 3px;
  background-color: #06a52e;
}
.About .about-content .get-involved-section .get-involved-section-wrapper .container p {
  margin-block: 25px;
  text-align: justify;
}
.About .about-content .get-involved-section .get-involved-section-wrapper .container .get-involved-links {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 35px;
}
.About .about-content .get-involved-section .get-involved-section-wrapper .container .get-involved-links .get-involve-link {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.About .about-content .get-involved-section .get-involved-section-wrapper .container .get-involved-links .get-involve-link:hover {
  color: #06a52e;
  text-decoration: underline;
}
.About .about-content .get-involved-section .get-involved-section-wrapper .container .get-involved-links .get-involve-link img {
  transform: scale(0.5);
}

.Contact .contact-container {
  background-image: linear-gradient(rgba(48, 48, 48, 0.4117647059), rgba(48, 48, 48, 0.4117647059));
  background-size: cover;
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}
.Contact .contact-container .contact-content {
  width: 100%;
}
.Contact .contact-container .contact-content .content {
  margin-top: 50px;
}
.Contact .contact-form {
  padding-block: 60px;
}
.Contact .contact-form h2 {
  font-family: "Source Serif 4", serif;
  position: relative;
  margin-bottom: 30px;
}
.Contact .contact-form h2::after {
  content: " ";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 50px;
  height: 3px;
  background-color: #06a52e;
}
.Contact .contact-form form {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.Contact .contact-form form input,
.Contact .contact-form form textarea {
  background-color: #fff;
  border: none;
  padding: 10px 15px;
  font-family: Mada, sans-serif;
  font-size: 18px;
  width: 60%;
  appearance: none;
}
.Contact .contact-form form input:focus,
.Contact .contact-form form textarea:focus {
  outline: none;
}
.Contact .contact-form form input::placeholder,
.Contact .contact-form form textarea::placeholder {
  color: #a4a4a4;
  font-weight: 300;
}
.Contact .contact-form form textarea {
  resize: none;
  height: 150px;
}
.Contact .contact-form form .btn-secondary {
  width: 60%;
}

.Blog {
  width: 100%;
}
.Blog .hero-section {
  background-image: linear-gradient(rgba(48, 48, 48, 0.4117647059), rgba(48, 48, 48, 0.4117647059));
  background-size: cover;
  position: relative;
}
.Blog .hero-section .blog-heading {
  padding-block: 50px;
  width: 100%;
}
.Blog .hero-section .blog-heading .container .content {
  width: 70%;
}
.Blog .blog-container {
  padding-block: 70px;
}
.Blog .blog-container .blog-content .categories {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: row;
}
.Blog .blog-container .blog-content .categories button {
  font-size: 18px;
  color: #383838;
}

.Article .article-container .article-hero {
  position: relative;
}
.Article .article-container .article-hero .article-hero-img {
  width: 100%;
  height: 60vh;
  position: relative;
  overflow: hidden;
}
.Article .article-container .article-hero .article-hero-img img {
  width: 100%;
  position: absolute;
  bottom: 0;
}
.Article .article-container .article-hero .article-hero-title {
  padding: 20px;
  background-color: #F5F5F5;
  width: fit-content;
  position: absolute;
  bottom: -20%;
  left: 5%;
}
.Article .article-container .article-hero .article-hero-title .article-hero-details {
  margin-top: 10px;
}
.Article .article-container .article-hero .article-hero-title .article-hero-details p {
  font-size: 18px;
  font-weight: 500;
  color: #a4a4a4;
}
.Article .article-container .article-hero .article-hero-time-to-read {
  position: absolute;
  top: 5%;
  left: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #06a52e;
  border: solid 2px #E0E0E0;
  padding: 10px;
  color: #E0E0E0;
}
.Article .article-container .article-hero .article-hero-time-to-read svg path {
  stroke: #E0E0E0;
}
.Article .article-container .article-hero .article-hero-time-to-read h5 {
  font-size: 16px;
  font-weight: 500;
}
.Article .article-container .article-hero .article-hero-time-to-read:hover svg {
  animation: timer-animation 1s ease-in-out infinite;
}
.Article .article-container .article-content {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-row: 1;
  gap: 20px;
  margin-top: 100px;
}
.Article .article-container .article-content article .written-by {
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 15px;
  color: #06a52e;
}
.Article .article-container .article-content article section {
  margin-bottom: 30px;
}
.Article .article-container .article-content article section h2 {
  margin-bottom: 10px;
  color: #383838;
}
.Article .article-container .article-content article p {
  text-align: justify;
}
.Article .article-container .article-content .article-nav {
  margin-top: 50px;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: start;
  background-color: #E0E0E0;
  height: fit-content;
  position: sticky;
  top: 20px;
}
.Article .article-container .did-enjoy-article-section {
  width: 75%;
  background-color: #E0E0E0;
  height: 150px;
  margin-bottom: 25px;
}
.Article .article-container .did-enjoy-article-section h4 {
  margin-bottom: 20px;
  font-weight: 400;
  color: #383838;
}
.Article .article-container .did-enjoy-article-section form {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 20px;
}
.Article .article-container .did-enjoy-article-section form span svg {
  scale: 1.5;
  transition: scale 0.1s ease-in-out;
  fill: #a4a4a4;
}
.Article .article-container .did-enjoy-article-section form span svg:hover {
  scale: 2;
  fill: #06a52e;
}
.Article .article-container .did-enjoy-article-section .submit-rating p {
  text-align: center;
  font-size: 20px;
  color: #06a52e;
  margin-top: 20px;
}
.Article .article-container .did-enjoy-article-section .submit-rating span {
  padding: 4px 8px;
  background-color: #C042EC;
}
.Article .article-container .did-enjoy-article-section .submit-rating svg path {
  fill: #F5F5F5;
}

/*# sourceMappingURL=main.css.map */
